// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

// Sunset
$ss-y: #FFDF6B;
$ss-p: #FF79CD;
$ss-v: #AA2EE6;
$ss-b: #23049D;

// DeepMind pallet
$dm-y: #FFDB13;
$dm-o: #FF5F19;
$dm-b: #0053D6 ;
$dm-rg: #ffeacc;

$happy-y: #FFCD0F;
$dark-text: #2A292B;
