// Specific CSS for your home-page
body {
  background-color: $dm-rg;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  min-height: 100vh;
  padding-left: 5vmin;
  padding-right: 5vmin;
}

#page-wrap {
  margin: auto;
  padding-top: 100px;
}

#name-text {
  font-size: 15vmin;
  font-style: normal;
  font-weight: bold;
  letter-spacing: -6.5px;
  text-transform: none;
  color: $dm-b;
}

#description-text {
  font-size: 3.6vmin;
  font-weight: normal;
  line-height: auto;
  text-transform: none;
  color: $dark-text;
}

@media (max-width: 540px) {
  #name-text {
    letter-spacing: 0.3px;
  }
}
