<div id="page-wrap">
  <h1 id="name-text">Nicoleta Faina</h1><br>
  <p id="description-text">Software engineer with background in design, marketing and data science.<br>
  Aspiring to work within the AI sector.</p>
</div>
